In [1]:
#import libraires
import pandas as pd
import numpy as np

In [4]:
#load alredy cleaned data
df= pd.read_csv("Data/CleanedData.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Columns: 215 entries, 5 to 231
dtypes: float64(58), int64(155), object(2)
memory usage: 473.8+ KB

In [5]:
df.head(20)

,5,18,19,20,21,22,23,24,25,26,...,222,223,224,225,226,227,228,229,230,231
0,702,4,1.0,NaN,1.0,4,1,NaN,4,2,...,6,6,3,4,3,1,2.0,3,3,3
1,821,4,1.0,NaN,1.0,2,1,NaN,4,2,...,6,6,1,3,2,1,3.0,3,3,3
2,919,3,1.0,NaN,4.0,2,1,NaN,1,1,...,6,6,1,3,1,1,1.0,1,3,3
3,518,3,2.0,NaN,3.0,2,1,NaN,3,2,...,6,6,3,3,1,1,4.0,6,4,3
4,1756,3,1.0,NaN,1.0,1,1,NaN,2,4,...,6,6,1,1,1,2,3.0,2,1,3
5,860,6,2.0,NaN,1.0,2,1,NaN,1,4,...,6,6,1,1,1,1,2.0,3,3,3
6,1123,2,2.0,NaN,1.0,3,1,NaN,1,3,...,6,6,1,1,1,1,1.0,1,1,1
7,650,2,2.0,NaN,1.0,3,1,NaN,3,2,...,6,4,3,6,1,2,6.0,1,2,6
8,569,2,1.0,NaN,1.0,4,3,NaN,1,1,...,6,6,1,1,1,1,1.0,1,1,1
9,402,2,2.0,NaN,1.0,4,1,NaN,3,1,...,6,6,1,1,1,2,4.0,1,3,2
10,2877,2,1.0,NaN,2.0,1,1,NaN,1,1,...,6,6,1,1,1,1,3.0,1,1,1
11,2066,3,1.0,NaN,4.0,1,1,NaN,2,1,...,6,6,3,4,1,4,3.0,4,4,3
12,581,4,2.0,NaN,1.0,1,1,NaN,1,4,...,6,6,1,3,1,3,3.0,3,4,3
13,680,2,2.0,NaN,1.0,4,3,NaN,2,3,...,1,6,1,1,1,1,1.0,1,1,1
14,884,2,1.0,NaN,1.0,1,1,NaN,4,1,...,6,6,1,3,3,1,3.0,2,4,3
15,1363,6,2.0,NaN,1.0,4,1,NaN,1,4,...,6,6,3,3,1,2,2.0,3,1,2
16,687,2,2.0,NaN,2.0,4,1,NaN,2,1,...,6,6,1,6,1,3,3.0,3,6,6
17,1428,4,2.0,NaN,1.0,4,1,NaN,3,2,...,6,6,1,1,1,1,2.0,3,3,1
18,807,2,1.0,NaN,4.0,4,1,NaN,3,2,...,6,2,3,3,3,3,3.0,4,6,3
19,792,2,1.0,NaN,3.0,4,1,NaN,3,3,...,6,6,6,6,4,4,3.0,1,3,6